body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: white;
    font-family: "Quattrocento", serif;
    text-align: center;
}
:root {
 --h1-size: 3.6vw ;
 --h2-size: 3vw;
 --h3-size: 2.4vw;
 --p1-size: 1vw;
}

h1 {
    font-size: var(--h1-size);
    font-family: "Quattrocento", serif;
}
header {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 68px;
    background-color: white;
    z-index: 3;
}
#nav {
    width: 100%;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90%;
   
}
.nav-left {
    padding: 1px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.nav-logo {
    height: 35px;
    padding-left: 22px;
}.nav-logo-2 {
    height: 60px;
}
.nav-logo-3 {
    height: 40px;
}

.nav-right {
    width: 60%;
    display: flex;
    flex-direction: column;
}
main {
    padding-top: 50px;
}
.first-ad {
    height: 598px;
    padding: 1rem;
    padding-right: 0;
    padding-bottom: 0%;
    background-image: url(tyler-lastovich-hM08wZJBlK4-unsplash.jpg);
    animation: animation 53s ease infinite ;
    background-size: 400% 400%;
    animation-timing-function:linear;

}
@keyframes animation {
    0% {
     background-position: 0%;
    }
    25% {
     background-position: 25%;
    }
    50% {
     background-position: 50%;
    }
    75% {
     background-position: 75%;
    }
    100% {
     background-position: 100%;
    }
}
.grid-ad {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 3rem;
    padding: 3rem 0rem 3rem 3rem;
}
.right-grid {
    display: flex;
    flex-direction: inherit;
    right: 0%;
    position: relative;
}
.left-grid {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 50%;
}
.top-img {
 height: 550px;
 position: absolute;
 right: 0%;
 animation-name: opacity;
 animation-duration: 1.8s;
 animation-timing-function: linear;
}

.top-1{
    height: 598px;
    position: absolute;
    right: 0%;
    top: 9%;
    opacity: 0.9;
    animation-name: scroll-left;
    animation-duration: 1s;
    animation-timing-function:linear;
    z-index: 2;
    
}
.animation-text-1 {
    position: relative;
    top: 12%;
    left: 26%;
    z-index: 2;
    animation-name: scroll-left;
    animation-timing-function:linear;
    animation-duration: 1s;
}
.animation-text-2 {
    position: relative;
    top: 20%;
    z-index: 2;
    left: 20%;
    animation-name: scroll-left;
    animation-timing-function:linear;
    animation-duration: 1.4s;
}
.animation-text-3 {
    position: relative;
    top: 0%;
    margin-top: 0%;
    right: 15%;
    z-index: 1;
    animation-name: scroll-left;
    animation-timing-function:linear;
    animation-duration:1.6s;
}
.animation-text-4 {
    position: relative;
    top: 0%;
    margin-top: 3%;
    right: 0%;
    z-index: 1;
    animation-name: scroll-left;
    animation-timing-function:linear;
    animation-duration: 1.4s;
}
.animation-text-5 {
    position: relative;
    top: 0%;
    margin-top: 8%;
    right: 16%;
    z-index: 1;
    animation-name: scroll-left;
    animation-timing-function:linear;
    animation-duration: 1.5s;
}
.top-2 {
    padding-right: 2rem;
}

@keyframes scroll-left {
    0% {
        transform:  translateX(+90px);
        opacity: 0.5;
    }
    100% {
        transform: translateX( 0px);
        opacity: 1;
    }
}
@keyframes opacity {
    0% { transform: translateX(+15px);
        opacity: 0.4;
    }
    100% { transform:  translateX(0px);
        opacity: 1;
    }
    
    
}
.ad-quotes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0%;
    padding: 0%;
    width: 400px
}
.album {
    text-decoration: none;
    display: flex;
    flex-direction: row;
}
.albums {
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    padding-left: 0;
    margin-left: 0%;
    padding-top: 10px;
}
.album-box {
    max-height: 131px;
    max-width: 400px !important;
}
.album-img {
    height: 100px;
    padding: 2%;
    margin: 2px;
    transition: height 0.2s ease-in-out;
}
.album-img:hover {
    height: 130px;
}
li {
    text-decoration: none;
    list-style: none;
}
.right {
   padding: 1em;
}
.nav-links {
    display: flex ;
    flex-direction: row;
    align-items: center;
    text-align: end;
    justify-content: space-between;
}
.nav-link {
    margin: 0.5em;
    font-family: "Quattrocento", serif;
    font-weight: 700;
    font-size: x-large;
    transition: color 0.3s ease-in-out ;
}
.nav-link:hover {
    color: gray;
}
.black-link {
    text-decoration: none;
    color: black;
}
.black-button {
    height: 40px;
    width: 100px;
    background: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: medium;
    border-radius: 50px;
    border: 1px solid black;
    transition: background 0.3s ease-out;
}
.black-button:hover {
    background: gray;
    border: 1px solid gray;
}
.white-button {
    height: 40px;
    width: 290px;
    background:  white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: medium;
    border-radius: 50px;
    border: 1.5px solid black;
    transition: background 0.3s ease-out;
}
.white-button:hover {
    background: gray;
    border: 1.5px solid gray;
    color: white;
}
.transparent-button {
    height: 40px;
    width: 220px;
    background: transparent;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: medium;
    border-radius: 50px;
    border: 1.5px solid black;
    transition: background 0.3s ease-out;
}
.transparent-button:hover {
    background: gray;
    border: 1.5px solid gray;
    color: white;
}
.ad-quotes > h2 , h5 {
    
}
#shoot {
    height: 545px;
    padding: 2em;
}
#shoot.scrolled {
animation-name: scroll ;
animation-duration: 2s;
animation-timing-function: ease-in-out;
   
}
@keyframes scroll {
    0%{
        transform: translateY(-150px);
        opacity: 40%;
    }
      100%{
        transform: translateY(0px);
      }
    }

    .reputation {
        display: flex;
        flex-direction:row;
        padding: 2em;
        padding-top: 4rem;
        align-items: center;
        justify-content: space-between;
    }
    .explain {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: start;
        padding: 1em;
    }
    .black-area {
        width: 730px;
        height: 350px;
        background-color: black;
        border-radius: 15px;
        margin: 2em;
        color: white;
        padding: 2em;
        margin-top: 0%;
       
    }
    .brand-logos {
        padding: 2em 4em 1em 0em;
    }
    .brand-logos > ul {
        padding-left: 0%;
    }
    .normal-words {
        color: white;
    }
    .white-link {
        color: white !important;
        transition: 0.6s linear;
    }
    .white-link:hover {
        color: grey;
    }
    
    .reputation-2{
        padding: 7em;
        padding-top: 4em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 3rem;
    }
    .grid-box {
        height: 550px;
        background-color: black;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        padding: 2em;
        transition: 0.2s linear;
        border: 1px solid black;
    }
    .grid-box:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
    

    .grid-img {
        height: 200px;
    }

    .grid-logo {
        height: 50px;
        margin-bottom: 1em;
        margin: 2em;
    }
    .grid-box > p {
        padding-top: 2em;
        padding-bottom: 1em;
    }
    .grey-grid {
        background-color: grey;
        height: 700px;
        color: white;
        padding: 1em;
    }
    .reputation-3{
        padding: 7em;
        padding-top: 4em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 3rem;
    }

    .grid-box-2 {
        height: 400px;
        
    }
    .video-box {
        width: 100%;
        height: 220px;
        top: 0;
       overflow: hidden;
        background-size: cover;
        display: flex;
        position: relative;
    }
    .opacity-img { 
        width: 100%;
        height: 100%;
        transition: 0.3s linear;
        color: transparent;
        top: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .opacity-img:hover {
        background-color: grey;
        opacity: 0.7;
        color: white;
    }
    .button-div {
        width: 100%;
        height: 100%;
        transition: 0.3s linear;   
        top: 0%;
        display: flex;
        flex-direction: column ;
        align-items: center;
        justify-content: center;
        position: absolute;
    }
    .grid-imgg {
        max-height: 240px !important;
        background-size: cover;
    }
    .fixed-logo {
        height: 14px;
        top: 677px;
        left: 8px;
        position: fixed;
    }
    .fixed-logo-2 {
        height: 70px;
        top: 630px;
        right: 5px;
        position: fixed;
    }
  
    .footer {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 1em;
        align-items: center;
        justify-content: center;
        margin: 0;
        font-size: small;
    }
    .icons {
        font-size: xx-large;
        padding: 4px;
    }
    .footer-links {
        display: flex;
        flex-direction: row;
    }

    .footer-ul > li {
        padding: 1px;
    }
    .footer-ul {
       justify-content: flex-start;
       text-align: start;
    }
    .select-info {
        padding: 1em 12em 2em 12em;
    }
    form {
        align-items: center;
        text-align: center;
        padding-bottom: 3em;
    }
    input {
        margin: 1em;
        text-align: center;
    }
    .select-div {
        padding-top: 2em;
    }

    @media (max-width: 670px) {
        .grid-ad {
            overflow: hidden;
            padding: 2rem 1rem 2rem 1rem;
        }

        body {
            text-align: center; 
            justify-content: center;
            width: 100%;
        }
    
        header {
            height: 60px; 
        }
    
        #nav {
            
            height: auto;
            padding: 10px; 
        }
    
        .nav-left, .right {
            width: 100%;
        }
    
        .nav-logo {
            height: 30px; 
        }
    
        .right {
            display: none;
            align-items: center;
            justify-content: center;
            padding: 10px 0; 
        }
    
        .nav-link {
            font-size: medium; 
            margin: 0.2em; 
        }
    
        .first-ad {
            height: 1000px;
            top: 0;
            padding: 1em;
            background-size: cover;
        }
        .top-2 , .top-1{
            display: none;
        }
    
        .ad-quotes {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
    
        .reputation, .reputation-2, .reputation-3 {
            flex-direction: column;
            padding: 2em 1em; 
            align-items: center;
            justify-content: center;
        }
    
        .black-area {
            width: 90%;
            height: auto;
            margin: 1em 0;
        }
    
        .grid-box {
            height: auto;
            padding: 2em;
            padding-top: 7em;
            margin-left: 2em;
            margin-right: 2em;
        }

        h1 {
            display: flex;
            align-items: center;
            font-size: x-large;
        }
    
         .grid-logo {
            height: auto;
            max-height: 50px;
        }
    
        .grey-grid {
            height: auto;
            padding: 1em 0;
        }
    
        .grid-box-2 {
            height: auto;
        }
    
        .video-box {
            height: 180px; 
        }
    
        .opacity-img {
            height: 180px;
        }
    
        .footer {
            padding: 2em;
            font-size: smaller;
        }
    
        .footer-links {
            flex-direction: column;
        }
    
        .select-info {
            padding: 1em 2em;
        }
    
        .fixed-logo {
            top:800px
        } 
        .fixed-logo-2{
            top: 780px;
        }
    
        form, input {
            width: 100%; 
            padding: 0.5em;
            margin: 0.5em 0;
        }

        #shoot {
            height: 330px;
        }
    
        .album-box {
            height: auto;
            width: 380px;
        }
        .album {
            height: 70px;
        }
    
        .album-img {
            height: 70px;
            padding: 0;
            margin: 0;
        }
        
    
        .black-button, .white-button, .transparent-button {
            width: 40%;
            margin: 0.5em 0;
        }
    }
    
    
